@use "./helper" as *;

.header-container {
  @include flexSpaceBetween;
}
.header-nav-content {
  @include flexSpaceBetween;
  margin-top: 2rem;
  letter-spacing: 0.05rem;
  position: relative;
  .logo {
    text-decoration: none;
    color: $offWhite;
    font-family: "Lobster", cursive;
    font-size: 1.8rem;
  }
}

/*-------------Navlinks Component-------------------*/
.navbar-content {
  @include flexSpaceBetween;
  width: 100%;
  padding: 1rem 0;
  .navlinks {
    @include flexSpaceBetween;
    @include mediaQuery960px {
      display: none;
    }
    li {
      list-style-type: none;
      margin-left: 2rem;
      padding: 0.5rem 1rem;
      border: 2px solid $red;
      border-radius: 5px;
      background: $red;
      transition: 0.15s ease-in-out;
      &:hover {
        background: transparent;
      }
      a {
        text-decoration: none;
        color: $offWhite;
        font-weight: bold;
      }
    }
  }
}

/*------------Mobile Navbar----------------------*/
.mobile-navbar {
  display: none;
  @include mediaQuery960px {
    display: block;
  }

  /*--------------Hamburger-----------------*/
  .hamburger-btn {
    border: none;
    background: transparent;
    color: $offWhite;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    display: none;
    @include mediaQuery960px {
      display: block;
    }
  }
}
