@use "./helper" as *;

.project-container {
  min-height: 100vh;
  padding: 0 0 3rem 0;
  @include flexCenter;
  margin-top: 1.5rem;
  h1 {
    @include flexJustifyStart;
    font-family: "Lobster", cursive;
  }
  .line {
    width: 200px;
    height: 2px;
    background: $red;
    display: block;
    margin-left: 1rem;
  }
  .project-content {
    border: 1px solid $offWhite;
    background: $offWhite;
    border-radius: 10px;
    min-height: 95vh;
    padding: 3rem;
    @include mediaQuery550px {
      padding: 1rem;
    }
    .project-inner-content {
      margin-top: 3rem;

      .tech-filter {
        padding-bottom: 3rem;
        text-align: right;

        h4 {
          padding-bottom: 0.5rem;
        }
        select {
          outline: none;
          border: 1px solid lightgray;
          padding: 0.3rem 0.5rem;
          font-weight: bold;
          option {
            font-weight: bold;
          }
        }
      }

      .project-links {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 2rem 0 3rem 0;
        li {
          list-style-type: none;
          padding: 0 0.5rem;
          a {
            text-decoration: none;
          }
        }
      }
      .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 2rem;
        position: relative;
        @include mediaQuery550px {
          grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        }
        .project-card {
          box-shadow: 5px 5px 20px 5px rgba($color: #000000, $alpha: 0.1);
          border-radius: 10px;

          letter-spacing: 0.05rem;

          .img-div {
            padding: 1.5rem;

            img {
              width: 100%;
              object-fit: fill;
              min-height: 180px;
              max-height: 250px;
              border-radius: 10px;
            }
          }
          .links-container {
            padding: 0 2rem;
            h4 {
              text-align: center;
              padding-bottom: 0.5rem;
            }
            .links {
              @include flexCenter;
              padding: 0.5rem 0 1.2rem 0;
              gap: 1rem;
              .link-col {
                border-bottom: 2px solid transparent;
                transition: 0.15s ease-in-out;
                font-weight: bold;
                &:hover {
                  border-bottom: 2px solid $red;
                }
                a {
                  text-decoration: none;
                  color: $offBlack;
                  i {
                    padding-right: 0.3rem;
                    color: $red;
                  }
                }
              }
            }
          }
        }
        // .modal {
        //   width: 500px;
        //   height: 500px;
        //   margin: auto auto;
        //   top: 0;
        //   bottom: 0;
        //   left: 0;
        //   right: 0;
        //   position: fixed;
        //   .overlay {
        //     background: $red;
        //     border-radius: 10px;
        //     height: 100%;
        //     padding: 2rem;
        //   }
        // }
      }
    }
  }
}
