.about-section {
  min-height: 100vh;
  padding: 0 0 3rem 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.about-section .about-container {
  min-height: 90vh;
  margin-top: 1.5rem;
  border: 1px solid rgb(252, 252, 252);
  border-radius: 10px;
  background: rgb(252, 252, 252);
  padding: 3rem;
}
@media (max-width: 550px) {
  .about-section .about-container {
    padding: 1rem;
  }
}
.about-section .about-container h1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Lobster", cursive;
  font-size: 1.8rem;
}
.about-section .about-container .line {
  width: 200px;
  height: 2px;
  background: rgb(228, 120, 120);
  display: block;
  margin-left: 1rem;
}
.about-section .about-container .about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  margin-top: 3rem;
  gap: 2rem;
}
@media (max-width: 1110px) {
  .about-section .about-container .about-content {
    flex-direction: column;
  }
}
.about-section .about-container .about-content .about-info {
  width: 70%;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
  font-weight: bold;
  padding: 0 2rem;
}
@media (max-width: 1110px) {
  .about-section .about-container .about-content .about-info {
    width: 100%;
    padding: 0;
  }
}
.about-section .about-container .about-content .about-info h2 {
  margin-bottom: 1rem;
  font-family: "Alata", sans-serif;
}
.about-section .about-container .about-content .about-info p {
  color: rgb(136, 136, 136);
  padding-bottom: 1rem;
}
.about-section .about-container .about-content .about-img {
  width: 30%;
}
@media (max-width: 800px) {
  .about-section .about-container .about-content .about-img {
    width: 100%;
  }
}
.about-section .about-container .about-content .about-img img {
  width: 100%;
  border-radius: 10px;
}
.about-section .about-container .about-content .contact-container .contact-grid-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 800px) {
  .about-section .about-container .about-content .contact-container .contact-grid-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
}
.about-section .about-container .about-content .contact-container .contact-grid-content p {
  color: rgb(136, 136, 136);
  place-content: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.about-section .about-container .about-content .contact-container .contact-grid-content p .a-icon {
  color: rgb(228, 120, 120);
  font-size: 2.5rem;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0 1rem 0 0;
}
.about-section .about-container .skills-container {
  margin-top: 3rem;
  min-height: 30vh;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 2rem;
  font-weight: bold;
}
@media (max-width: 800px) {
  .about-section .about-container .skills-container {
    padding: 1rem;
  }
}
.about-section .about-container .skills-container h2 {
  font-family: "Lobster", cursive;
  font-size: 1.8rem;
  text-align: center;
}
.about-section .about-container .skills-container .skills-content {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  height: 100%;
  padding: 1rem;
}
@media (max-width: 800px) {
  .about-section .about-container .skills-container .skills-content {
    grid-template-columns: repeat(4, 1fr);
    padding: 0.5rem;
  }
}
@media (max-width: 670px) {
  .about-section .about-container .skills-container .skills-content {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}
.about-section .about-container .skills-container .skills-content .skills-icon {
  color: rgb(136, 136, 136);
  list-style-type: none;
  font-size: 0.8rem;
  text-align: center;
}
@media (max-width: 450px) {
  .about-section .about-container .skills-container .skills-content .skills-icon p {
    font-size: 0.6rem;
  }
}
.about-section .about-container .skills-container .skills-content .skills-icon .icon {
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: rgb(228, 120, 120);
  font-size: 3.5rem;
  margin-right: 0.3rem;
  padding: 0.2rem 0.5rem;
  margin-bottom: 0.2rem;
}/*# sourceMappingURL=about.css.map */