@use "./helper" as *;

.about-section {
  min-height: 105vh;
  @include flexAlignStart;
  .about-container {
    min-height: 90vh;
    margin-top: 1.5rem;
    border: 1px solid $offWhite;
    border-radius: 10px;
    background: $offWhite;
    padding: 3rem;

    h1 {
      @include flexJustifyStart;
      font-family: "Lobster", cursive;
      font-size: 1.8rem;
    }
    .line {
      width: 200px;
      height: 2px;
      background: $red;
      display: block;
      margin-left: 1rem;
    }

    .about-content {
      @include flexSpaceBetween;
      align-items: flex-start;
      margin-top: 3rem;
      gap: 2rem;
      @include mediaQuery1110px {
        flex-direction: column;
      }
      .about-info {
        width: 70%;
        line-height: 1.5rem;
        letter-spacing: 0.05rem;
        font-weight: bold;
        padding: 0 2rem;
        @include mediaQuery1110px {
          width: 100%;
          padding: 0;
        }
        h2 {
          margin-bottom: 1rem;
          font-family: "Alata", sans-serif;
        }
        p {
          color: $mediumGray;
        }
      }
      .about-img {
        width: 30%;

        @include mediaQuery800px {
          width: 100%;
        }
        img {
          width: 100%;
          border-radius: 10px;
        }
      }

      .contact-container {
        margin-top: 2rem;

        p {
          color: $mediumGray;
          i {
            color: $red;
            box-shadow: 5px 5px 15px 0 rgba($color: #000000, $alpha: 0.1);
            border-radius: 5px;
            padding: 0.5rem;
            margin-right: 1rem;
          }
        }
      }
    }
    .skills-container {
      margin-top: 3rem;
      min-height: 30vh;
      box-shadow: 5px 5px 20px 0 rgba($color: #000000, $alpha: 0.1);
      border-radius: 10px;
      padding: 2rem;
      font-weight: bold;

      h2 {
        font-family: "Lobster", cursive;
        font-size: 1.8rem;
      }
      .skills-content {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 2rem;
        height: 100%;
        padding: 1rem;
        li {
          color: $mediumGray;
          list-style-type: none;
          font-size: 1.2rem;
          &::marker {
            content: "\2713";
            color: $red;
          }
        }
      }
    }
  }
}
