@use "./helper" as *;

.about-section {
  min-height: 100vh;
  padding: 0 0 3rem 0;
  @include flexAlignStart;
  .about-container {
    min-height: 90vh;
    margin-top: 1.5rem;
    border: 1px solid $offWhite;
    border-radius: 10px;
    background: $offWhite;
    padding: 3rem;
    @include mediaQuery550px {
      padding: 1rem;
    }

    h1 {
      @include flexJustifyStart;
      font-family: "Lobster", cursive;
      font-size: 1.8rem;
    }
    .line {
      width: 200px;
      height: 2px;
      background: $red;
      display: block;
      margin-left: 1rem;
    }

    .about-content {
      @include flexSpaceBetween;
      align-items: flex-start;
      margin-top: 3rem;
      gap: 2rem;
      @include mediaQuery1110px {
        flex-direction: column;
      }
      .about-info {
        width: 70%;
        line-height: 1.5rem;
        letter-spacing: 0.05rem;
        font-weight: bold;
        padding: 0 2rem;
        @include mediaQuery1110px {
          width: 100%;
          padding: 0;
        }
        h2 {
          margin-bottom: 1rem;
          font-family: "Alata", sans-serif;
        }
        p {
          color: $mediumGray;
        }
      }
      .about-img {
        width: 30%;

        @include mediaQuery800px {
          width: 100%;
        }
        img {
          width: 100%;
          border-radius: 10px;
        }
      }

      .contact-container {
        margin-top: 2rem;

        p {
          color: $mediumGray;
          place-content: center;
          display: flex;
          justify-content: flex-start;
          align-items: center;

          .a-icon {
            color: $red;
            font-size: 2.5rem;
            box-shadow: 5px 5px 15px 0 rgba($color: #000000, $alpha: 0.1);
            border-radius: 5px;
            padding: 0.5rem;
            margin: 0 1rem 0 0;
          }
        }
      }
    }
    .skills-container {
      margin-top: 3rem;
      min-height: 30vh;
      box-shadow: 5px 5px 20px 0 rgba($color: #000000, $alpha: 0.1);
      border-radius: 10px;
      padding: 2rem;
      font-weight: bold;
      @include mediaQuery800px {
        padding: 1rem;
      }

      h2 {
        font-family: "Lobster", cursive;
        font-size: 1.8rem;
        text-align: center;
      }
      .skills-content {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 2rem;
        height: 100%;
        padding: 1rem;
        @include mediaQuery800px {
          grid-template-columns: repeat(4, 1fr);
          padding: 0.5rem;
        }
        @include mediaQuery670px {
          grid-template-columns: repeat(3, 1fr);
          gap: 1rem;
        }

        .skills-icon {
          color: $mediumGray;
          list-style-type: none;
          font-size: 0.8rem;
          text-align: center;
          @include mediaQuery450px {
            p {
              font-size: 0.6rem;
            }
          }
          .icon {
            box-shadow: 5px 5px 20px 5px rgba($color: #000000, $alpha: 0.1);
            border-radius: 5px;
            color: $red;
            font-size: 3.5rem;
            margin-right: 0.3rem;
            padding: 0.2rem 0.5rem;
            margin-bottom: 0.2rem;
          }
        }
      }
    }
  }
}
